<h1>Bem-vindo ao App de Listagem de Tarefas</h1>

<mat-accordion>
  <app-task-item *ngFor="let task of taskList" [task]="task"></app-task-item>
  <app-task-item></app-task-item>
  <!-- <app-task-item [task]="taskList[1]"></app-task-item>
  <app-task-item [task]="taskList[2]"></app-task-item>
  <app-task-item [task]="taskList[3]"></app-task-item> -->
</mat-accordion>

<!-- <ul>
  <li>Lavar a louça</li>
  <li>Fazer exercícios do Módulo de Angular</li>
  <li>Passear com o cachorro</li>
  <li>Fazer o planejamento do dia seguinte</li>
</ul> -->
