<mat-expansion-panel hideToggle *ngIf="task" [taskDirective]="task.status">
  <mat-expansion-panel-header>
    <!-- <mat-panel-title [class]="task.status? 'completed' : '' "> -->
    <mat-panel-title [ngClass]="{ completed: task.status }">
      <mat-checkbox
        [checked]="task.status"
        (change)="changeStatus()"
        (click)="$event.stopPropagation()"
      ></mat-checkbox>
      {{ task.title }}
    </mat-panel-title>
  </mat-expansion-panel-header>
  <ul>
    <li *ngIf="task.description"><b>Descrição:</b> {{ task.description }}</li>
    <li><b>Data Limite:</b> {{ task.dueDate | date : "dd/MM/yyyy" }}</li>

    <li><b>Status:</b> {{ task.status | status }}</li>
  </ul>
  <button mat-raised-button color="primary">Atualizar</button>
  <button mat-raised-button color="warn" (click)="deleteItem()">Remover</button>
</mat-expansion-panel>

<!-- Versão com possível undefined -->
<!-- <mat-expansion-panel hideToggle>
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{ task?.title }}
    </mat-panel-title>
  </mat-expansion-panel-header>
  <ul>
    <li><b>Descrição:</b> {{ task?.description}}</li>
    <li><b>Data Limite:</b> {{ task?.dueDate }}</li>
    <li><b>Status:</b> {{ task?.status }}</li>
  </ul>
</mat-expansion-panel> -->
