<form class="task-form" *ngIf="taskForm" [formGroup]="taskForm" (ngSubmit)="onSubmitForm()">
  <!-- <div>
    <label for="title">Título</label><br>
    <input id="title" formControlName="title" required />
  </div>

  <div>
    <label for="description">Descrição</label><br>
    <input id="description" formControlName="description" required />
  </div>

  <div>
    <label for="dueDate">Data de Entrega</label><br>
    <input id="dueDate" formControlName="dueDate" required />
  </div>

  <div>
    <input type="checkbox" id="status" formControlName="status" required />
    <label for="status">Concluída</label>
  </div>

  <button type="submit">Criar Nova Tarefa</button> -->


  <mat-form-field class="full-width" appearance="fill">
    <mat-label>Título</mat-label>
    <input matInput formControlName="title">
  </mat-form-field>

  <mat-form-field class="full-width" appearance="fill">
    <mat-label>Descrição</mat-label>
    <input matInput formControlName="description">
  </mat-form-field>

  <mat-form-field class="full-width" appearance="fill">
    <mat-label>Data Limite para Conclusão</mat-label>
    <input matInput formControlName="dueDate">
  </mat-form-field>

  <div>
    <mat-checkbox formControlName="status">Completada</mat-checkbox>
  </div>

  <button class="submit-btn" mat-stroked-button color="primary" type="submit"> {{ requestType == "post"? "Criar Nova" : "Atualizar" }} Tarefa</button>

  <!-- <input id="title" name="title" [value]="newTask.title" (input)="onInputChange($event)" required /> -->
  <!-- <div>
    <label for="title">Título</label><br>
    <input id="title" name="title" [(ngModel)]="newTask.title" required />
  </div>

  <div>
    <label for="description">Descrição</label><br>
    <input id="description" [(ngModel)]="newTask.description" name="description" required />
  </div>

  <div>
    <label for="dueDate">Data de Entrega</label><br>
    <input id="dueDate" [(ngModel)]="newTask.dueDate" name="dueDate" required />
  </div>

  <div>
    <input type="checkbox" id="status" [(ngModel)]="newTask.status" name="status" required />
    <label for="status">Concluída</label>
  </div>

  <button type="submit">Criar Nova Tarefa</button> -->
</form>
